$ee-display-height: 26px !default;
$ee-display-radius: 3px !default;
$ee-legend-item-max-width: 160px !default;

$ee-ink: #333 !default;
$ee-ink-soft: #888 !default;

$ee-gray: #ccc !default;
$ee-green: #008D27 !default;
$ee-yellow: #E0DD2D !default;
$ee-orange: #E04100 !default;
$ee-red: #D91618 !default;

$ee-site-background: #fff !default;